.name {
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove any default margin to ensure proper centering */
    margin-left:40px;
  }
  
.Stars1{
    display: inline;
    padding-left:10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #9055FF, #ED7B84);
    height: 60px;
}

.image img {
    width: 50px;
    height: 50px;
}

.btn1 {
    padding: 10px;
    font-size: 15px;
    width: 70px;
    margin-right: 10px;
    border-radius: 10px;
    color: #000000;
    background-color: rgb(255, 255, 255);
}

.btn2 {
    padding: 10px;
    font-size: 15px;
    width: 70px;
    margin-right: 10px;
    border-radius: 10px;
    color: #000000;
    background-color: rgb(255, 255, 255);
}

.btn3 {
    padding: 10px;
    font-size: 15px;
    width: 70px;
    margin-right: 10px;
    border-radius: 10px;
    color: #000000;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.image img {
    cursor: pointer;
}

.panel {
    position: absolute;
    top: 20;
    left: 0;
    width: 350px;
    height: 500px;
    color: rgb(87, 82, 82);
    font-size: 15px;
    background-color: #fa4fb8bd;
    box-shadow: 2px 5px 5px rgb(104, 97, 97);
    z-index: 1000;

}


.panelTool {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ticket {
    display: flex;
    margin-left: 33%;
}

.close {
    margin-bottom: 29%;
    cursor: pointer;
}


.pannelContent p {
    font-size: medium;
    font-family: cursive;
    font-weight: bolder;
    padding-left: 10px;
    color: #580303;
}




.hide-icon {
    cursor: pointer;
}

.adminDropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.ownerDropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}